<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%}App{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <div class="container">
            <nav>
                <h1>Mente</h1>
                <div class="nav-menu hide">
                    <li><a class="nav-link active" href="/home">Daily Check-in</a></li>
                    <li><a class="nav-link" href="/home">Resources</a></li>
                    <li><a class="nav-link" href="/home">Chat</a></li>
                </div>
                <div class="nav-menu">
                    <a class="nav-profile" href="/signup">   
                        <img src="{% static 'img/profile.png' %}" alt="">
                    </a>
                    <a href="" class="nav-profile nav-toggle">  
                        <input class="menu" type="checkbox" name="menu" id="menu-checkbox">         
                        <label id="menu-label" for="checkbox"></label>
                        <img src="{%static 'img/menu.png'%}" alt="">
                    </a>

                </div>
               
                
            </nav>
        </div>
        
    </header>
    <main>{% block content %}{% endblock %}</main>
    <footer></footer>
    
</body>
</html>